hr.style17 {
  border-top: 3px solid #8c8b8b;
  text-align: center;
}
hr.style17:after {
  content: 'ยง';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
}
